.A_screen_capture/
.CFUserTextEncoding
.DS_Store
.ammonite/cache/
.ammonite/history
.ammonite/rt-11.0.8.jar
.ammonite/rt-15.0.1.jar
.ammonite/src
.cache/
.config/
.cups/
.emacs.d/auto-save-list/
.emacs.d/elpa/
.emacs.d/games/
.emacs.d/ido.last
.g8/
.gervill/
.gnupg/
.idea-build/
.install4j
.ivy2/
.kojo/
.mill/
.oracle_jre_usage/
.sbt/
.scala_history
.scala_history_jline3
.scalaide/
.sdkman/
.ssh/
.viminfo
.zsh_history
.zsh_sessions/
Applications/
Desktop/
File.txt
Library/
Movies/
Music/
Pictures/
Public/
README.home
bin
defter/
ide/
javasharedresources/
kojo-export/
spark-workspace/
src
tmp/
