# This is Git's per-user configuration file.
[user]
	name = Ben Bulent Basaran
	email = ben@scala.org
# Please adapt and uncomment the following lines:
#	name = Ben Bulent Basaran
#	email = ben@scala.org
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
